.display{
  margin: 0 auto;
}

.row{
  display: flex;
  justify-content: space-between;
  column-gap: 7.5px;
  margin: 7.5px;
}

.row:first-child{
  margin-top: 7.5px;
}

.row:last-child{
  margin-bottom: 7.5px;
}

.row.selected{
  position: relative;
}

.row.selected::before{
  position: absolute;
  content: '';
  width: 35.5rem;
  height: 7rem;
  top: 1px;
  left: -9px;
  border-radius: 10px;
}

.block{
  border: 3px solid gray;
  width: 3rem;
  height: 3rem;
  animation: press 0.125s;
}

.blockText{
  margin-top: -1px;
  height: 100%;
}

@keyframes press {
  from {transform: translate(0px, 0px);}
  to {transform: translate(2px, 2px);}
}