.display{
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  justify-content: space-between;
  gap: 0.25rem;
  margin: 0.125rem;
}

.row:first-child{
  margin-top: 0.125rem;
}

.row:last-child{
  margin-bottom: 0.125rem;
}

.block{
  border: 3px solid gray;
  width: 3rem;
  height: 3rem;
}

.block.noMatch{
  color: white;
  background-color: var(--gray);
  border-color: var(--gray);
}

.block.correctLetter{
  color: white;
  background-color: var(--yellow);
  border-color: var(--yellow);
}

.block.correctPlacement{
  color: white;
  background-color: var(--green);
  border-color: var(--green);
}

.blockText{
  margin-top: -1px;
  height: 100%;
}
